<div class="mt-20 text-center">
  <h1 class="text-5xl font-extrabold">Tabletop Ledger</h1>
  <p class="mt-4 text-xl">
    Welcome! Create characters and keep track of stats and inventories.  
    Create and manage whole campaigns!
  </p>
</div>
