<nav>
  <%= link_to "Login", "#" %>
  <%= link_to "Sign Up", signup_path %>
</nav>

<div>
  <h1>Character Craft</h1>
  <p>
    Welcome! Create characters and keep track of stats and inventories.
    Create and manage whole campaigns!
  </p>
</div>
