<!-- Main Content -->
<h2 class="text-5xl font-semibold text-slate-400 mb-4">Characters</h2>
<ul class="space-y-4 p-4 rounded shadow-md text-3xl">
  <%= render @characters %>
</ul>

<%#Potentially only display character where User has role of Player in that campaign %>
