
<div class="flex min-h-screen">
  <!-- Sidebar -->
  <aside class="w-1/4 bg-zinc-400 p-6 shadow-lg">
    <h1 class="text-3xl font-bold text-gray-800 mb-2">
      Player Page<br>
      <%= @user.name %>
    </h1>
    <p class="text-gray-700 mb-6"><%= @user.email %></p>

    <h3 class="text-xl font-semibold text-gray-800 mb-2">Campaigns</h3>
    <ul class="space-y-2 rounded shadow-md">
      <% @campaigns.each do |campaign| %>
        <li class="bg-gray-300">
          <%= link_to "#{campaign.name}", campaign_path %> 
        </li>
      <% end %>
    </ul>
  </aside>

  <!-- Main Content -->
  <main class="flex-1 p-8">
    <h2 class="text-3xl font-semibold text-gray-800 mb-4">Characters</h2>
    <ul class="space-y-4 p-4 rounded shadow-md text-5xl">
      <li class="bg-slate-400">Character 1</li>
      <li class="bg-slate-400">Character 2</li>
      <li class="bg-slate-400">Character 3</li>
      <li class="bg-slate-400">Character 4</li>
      <li class="bg-slate-400">Character 5</li>
    </ul>
  </main>
</div>

