<!-- Main Content -->
<h2 class="text-3xl font-semibold text-gray-800 mb-4">Characters</h2>
<ul class="space-y-4 p-4 rounded shadow-md text-5xl">
  <li class="bg-slate-400">Character 1</li>
  <li class="bg-slate-400">Character 2</li>
  <li class="bg-slate-400">Character 3</li>
  <li class="bg-slate-400">Character 4</li>
  <li class="bg-slate-400">Character 5</li>
</ul>
