<% if object.errors.any? %>
  <div id='error-explanation' class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 my-4 rounded-md">
    <div class="font-bold">
      The form contains <%= pluralize(object.errors.count, 'error') %>
    </div>
    <ul class="list-disc pl-5 mt-2">
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
