<!-- AI Chat Conversation Area Sidebar on the Right -->
<div class="fixed bottom-0 right-0 w-full md:w-[600px] max-h-[600px] rounded-lg flex flex-col">
  <!-- chat log -->
  <div class="flex-1 overflow-y-auto p-4">
    <div id="chat-messages"></div>
  </div>

  <!-- Input form -->
  <div class="bg-gray-200 p-4 rounded-b-lg">
    <%= form_with url: create_chat_message_campaign_page_path(@campaign, @page), method: :post, local: false, 
      data: { turbo_frame: "chat", controller: "chat", action: "submit->chat#clearInput" },
      class: "flex items-center gap-2" do |f| %>

      <!-- Chat Input Section -->
      <%= text_area_tag :chat_message, nil, id: "chat-message-input", 
        class:"w-full p-2 rounded-lg border border-gray-300", 
        placeholder:"Type a message...",
        data: { chat_target: "chatMessage" }
      %>
    <%= submit_tag "Send", class: "p-2 bg-slate-500 text-slate-100 font-semibold rounded-lg" %>
    <button class="text-sm text-rose-500">Close</button>
    <% end %>
  </div>

</div>

