<div class="space-y-4 p-4 bg-gray-200 bg-opacity-50">
  <div class="bg-gray-100 p-2 rounded-lg flex justify-end">
    <p class="text-sm text-gray-800"><%= message[:bot_message] %></p>
  </div>
  <div class="bg-indigo-100 p-2 rounded-lg flex justify-start">
    <p class="text-sm text-indigo-800"><%= message[:user_message] %></p>
  </div>
</div>
