<div class="w-full px-[2rem] md:px-[96px]">
  <div class="py-2 px-4">
    <div class="-mx-3 my-3 flex items-start space-x-2">
      <div class="mt-1">
        <img class="h-6 w-6 rounded-full object-cover" src="https://lh3.googleusercontent.com/a-/AOh14GgBaFOzbAEgc3_1kvhT_rorTjiSwnvtznAvdSZ0BvM=s100" />
      </div>
      <div class="text-sm">
        <div class="space-x-1">
          <span class="font-semibold">Dr Nic Williams</span>
          <span class="text-xs text-gray-300">1 hour ago</span>
        </div>
        <p>My comment</p>
      </div>
    </div>
    <div class="-mx-3 my-3 flex items-start space-x-2">
      <div class="mt-1">
        <img class="h-6 w-6 rounded-full object-cover" src="https://lh3.googleusercontent.com/a-/AOh14GgBaFOzbAEgc3_1kvhT_rorTjiSwnvtznAvdSZ0BvM=s100" />
      </div>
      <div class="text-sm">
        <div class="space-x-1">
          <span class="font-semibold">Dr Nic Williams</span>
          <span class="text-xs text-gray-300">1 hour ago</span>
        </div>
        <p>Another comment</p>
      </div>
    </div>
    <div class="group -mx-3 my-3 flex items-center">
      <div class="mt-1">
        <img class="h-6 w-6 rounded-full object-cover" src="https://lh3.googleusercontent.com/a-/AOh14GgBaFOzbAEgc3_1kvhT_rorTjiSwnvtznAvdSZ0BvM=s100" />
      </div>
      <div class="w-full">
        <input type="text" placeholder="Another comment" class="w-full outline-none p-2 text-sm transition-colors group-hover:bg-gray-100">
      </div>
    </div>
  </div>
</div>
