<div class="group w-full cursor-pointer pl-[2rem] md:pl-[96px]">
  <div class="flex justify-start">
    <button class="mt-4 flex h-6 items-center rounded-sm px-2 text-sm text-gray-400 opacity-100 md:opacity-0 transition-colors hover:bg-gray-100 group-hover:opacity-100">
      <svg class="mr-1 h-4 w-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="none" d="M0 0h24v24H0z" />
        <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zM7 12a5 5 0 0 0 10 0h-2a3 3 0 0 1-6 0H7z" />
      </svg>
      Add icon
    </button>
    <button class="mt-4 flex h-6 items-center rounded-sm px-2 text-sm text-gray-400 opacity-100 md:opacity-0 transition-colors hover:bg-gray-100 group-hover:opacity-100">
      <svg class="mr-1 h-4 w-4" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd" />
      </svg>
      Add cover
    </button>
  </div>
  <style>
    .editable:empty:before {
      content: attr(data-placeholder);
      color: #999;
    }
  </style>
  <div class="pr-[2rem] md:pr-[96px]">
    <%= form_with model: [@campaign, @page], data: {controller: "editable"} do |f| %>
      <h1 contenteditable 
          data-editable-target="content"
          data-action="keyup->editable#changed"
          data-placeholder="untitled"
          class="editable whitespace-pre-wrap break-words w-full p-1 text-4xl font-bold bg-gray-50 text-gray-900 border-none focus:outline-none focus:ring-0 focus:border-transparent"><%= @page.title %></h1>
      <%= f.hidden_field :title, data: {editable_target: "input"} %>
    <% end %>
  </div>
</div>
