<div id="nav-sidebar" class="hidden md:block w-full bg-gray-100 text-sm font-semibold text-slate-700">
  <div class="sticky inset-y-0 left-0">
    <div class="flex h-screen flex-col items-start">
      <div class="flex w-full flex-col items-start">
        <button class="top group !justify-between !py-2">
          <div class="flex items-center justify-start space-x-2">
            <div class="shrink-0"><img class="inline-block h-6 w-6 rounded-md" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ0FpBg5Myb9CQ-bQpFou9BY9JXoRG6208_Q&s" alt="Picture of me" /></div>
            <div class="shrink-1 flex flex-col items-start">
              <span class="truncate text-sm text-slate-900">
                <%= @user.username %>
              </span>
              <span class="truncate text-xs text-gray-500">
                <%= @user.email %>
              </span>
            </div>
          </div>
          <div>
            <svg class="h-3 w-3 text-gray-500" fill="currentColor" viewBox="-1 -1 9 11" xmlns="http://www.w3.org/2000/svg">
              <path d="m3.5 0 .488-.57L3.5-.987l-.488.419L3.5 0Zm0 9-.488.57.488.418.488-.419L3.5 9ZM.488 3.57l3.5-3-.976-1.14-3.5 3 .976 1.14Zm2.524-3 3.5 3 .976-1.14-3.5-3L3.012.57Zm-3.5 6 3.5 3 .976-1.14-3.5-3-.976 1.14Zm4.476 3 3.5-3-.976-1.14-3.5 3 .976 1.14Z" />
            </svg>
          </div>
        </button>
        <button class="top">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
          </svg>
          <span>Quick Find</span>
        </button>
        <button class="top">
          <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span>All Updates</span>
        </button>
        <button class="top">
          <svg class="h-4 w-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path fill="none" d="M0 0h16v16H0z"/>
            <path d="M16 9V7l-2.259-.753a6.01 6.01 0 0 0-.441-1.066l1.066-2.131-1.416-1.416L10.819 2.7a6.324 6.324 0 0 0-1.066-.441L9 0H7l-.753 2.259a6.085 6.085 0 0 0-1.066.441L3.05 1.638 1.638 3.05l1.066 2.131a6.024 6.024 0 0 0-.445 1.066L0 7v2l2.259.753c.112.372.263.728.441 1.066L1.634 12.95l1.416 1.416L5.181 13.3c.338.178.694.328 1.066.441L7 16h2l.753-2.259a6.01 6.01 0 0 0 1.066-.441l2.131 1.066 1.416-1.416-1.066-2.131c.178-.337.328-.694.441-1.066L16 9zm-8 2a3.001 3.001 0 0 1 0-6 3.001 3.001 0 0 1 0 6z"/>
          </svg>
          <span>Settings & Members</span>
        </button>
      </div>
      <div class="w-full grow overflow-y-scroll pt-3">
        <div class="flex flex-col items-start" >
          <% @top_pages.each do |page| %>
            <%= render "sidebar_top_level_page", page: page %>
          <% end %>
        </div>
      </div>
      <div class="flex w-full items-start border-t border-gray-300">
        <%= button_to campaign_pages_path(parent_id: nil), method: :post, class:"top !py-4" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
          </svg>
          <span>New Page</span>
        <% end %>
        <div data-controller="chat">
          <button data-action="click->chat#toggleChat" class="toggle-chat-button top !py-4"> GM Assistant
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" class="h-5 w-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
