
	</div><!-- classes -->
	<hr/>
    <!-- character details -->
	<div>
		<h1>Class</h2>
		<select name="attr_ClassSelector">
			<option value="warrior" name="attr_Class" selected >Warrior</option>
			<option value="wizard" name="attr_Class" >Wizard</option>
			<option value="cleric" name="attr_Class" >Cleric</option>
			<option value="thief" name="attr_Class" >Thief</option>
			<option value="halfling" name="attr_Class" >Halfling</option>
			<option value="dwarf" name="attr_Class" >Dwarf</option>
			<option value="elf" name="attr_Class" >Elf</option>
			<option value="bard" name="attr_Class" >Bard</option>
			<option value="gnome" name="attr_Class" >Gnome</option>
			<option value="paladin"  name="attr_Class" >Paladin</option>
			<option value="ranger"  name="attr_Class" >Ranger</option>
			<option value="kith"  name="attr_Class" >Kith</option>
		</select>
	</div>
	<input type="hidden" class="sheet-classtoggle" name="attr_ClassSelector" /> 
	<!-- warrior -->
	<div class="sheet-warrior">
		<h1>Warrior Abilities</h2>
		<div class="sheet-statblock">
			<div class="sheet-item sheet-med">
				<label>Mighty Deeds of Arms</label>
			</div>
			<div class="sheet-item sheet-tiny">
				<select name="attr_DeedDie" value="d-1">
						<option value="d-1" selected="selected">--</option>
						<option value="d2">d3</option>
						<option value="d3">d4</option>
						<option value="d4">d5</option>
						<option value="d5">d6</option>
						<option value="d6">d7</option>
						<option value="d7">d8</option>
						<option value="d9">d10</option>
						<option value="d9+1">d10+1</option>
						<option value="d9+2">d10+2</option>
						<option value="d9+3">d10+3</option>
						<option value="d9+4">d10+4</option>
	            </select>
			</div>
			<div class="sheet-item sheet-tiny">
				<button class="sheet-square" type="roll" value="@{character_name} does a Mighty Deed: [[@{DeedDie}]]" name="roll_DeedDie"/>
			</div>
		</div>
		<div class="sheet-statblock">
			<div class="sheet-item sheet-med">
				<label>Threat Range:</label>
			</div>
			<div class="sheet-item sheet-tiny">
				<select name="attr_WarriorThreat" value="19">
						<option value="19" selected="selected">--</option>
						<option value="18">19-20</option>
						<option value="17">18-20</option>
						<option value="16">17-20</option>
	            </select>
			</div>
		</div>
		<div>
			<div class="sheet-item sheet-med">
				<label>Lucky weapon:</label>
			</div>
			<div class="sheet-item sheet-large">
				<input type="text" name="attr_LuckyWeapon"/>
			</div>
		</div>
		<div class="sheet-item">
			<label>Add class level to initiative</label>
		</div>
	</div>
	<!-- wizard -->
	<div class="sheet-wizard">
		<h1>Wizard Spells &amp; Abilities</h2>
		<div>
			<div class="sheet-item sheet-med">
				<label>Familiar:</label>
			</div>
			<div class="sheet-item sheet-large">
				<input type="text" name="attr_WizardFamiliar"/>
			</div>
		</div>
		<div>
			<div class="sheet-item sheet-med">
				<label>Patron(s):</label>
			</div>
			<div class="sheet-item sheet-large">
				<input type="text" name="attr_WizardPatron"/>
			</div>
		</div>
		<div>
			<div class="sheet-item sheet-med">
				<label>Corruption:</label>
			</div>
			<div class="sheet-item sheet-large">
				<input type="text" name="attr_WizardCorruption"/>
			</div>
		</div>
		<div>
			<div class="sheet-item sheet-med">
				<label>Other notes:</label>
			</div>
			<div class="sheet-item sheet-large">
				<input type="text" name="attr_WizardNotes"/>
			</div>
		</div>
		<div class="sheet-statblock">
			<div class="sheet-item sheet-med">
				<label>Momentum:</label>
			</div>
			<div class="sheet-item sheet-tiny">
				<select name="attr_Momentum" value="9" class="sheet-square">
					<option value="0">1</option>
					<option value="1">2</option>
					<option value="2">3</option>
					<option value="3">4</option>
					<option value="4">5</option>
					<option value="5">6</option>
					<option value="6">7</option>
					<option value="7">8</option>
					<option value="8">9</option>
					<option value="9" selected="selected">10</option>
					<option value="10">11</option>
					<option value="11">12</option>
					<option value="12">13</option>
					<option value="13">14</option>
					<option value="14">15</option>
					<option value="15">16</option>
					<option value="16">17</option>
					<option value="17">18</option>
					<option value="18">19</option>
					<option value="19">20</option>
				</select>
			</div>
		</div>
		<div>
			<label>Spells:</label>
		</div>
		<div class="sheet-statblock">
			<div class="sheet-header">
				<div class="sheet-item sheet-small">
					<label>Spell Name</label>
				</div>
				<div class="sheet-item sheet-square">
					<label>Level</label>
				</div>
				<div class="sheet-item sheet-square">
					<label>Mods</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<label>Check</label>
				</div>
				<div class="sheet-item sheet-large">
					<label>Mercurial Effect &amp; Notes</label>
				</div>
			</div>
			<fieldset class="repeating_wizardspells">
				<div class="sheet-row">
					<div class="sheet-item sheet-small">
						<input type="text" name="attr_WizardSpell"/>
					</div>
					<div class="sheet-item sheet-square">
						<input class="sheet-square" type="number" name="attr_WizardSpellLevel" value="0"/>
					</div>
					<div class="sheet-item sheet-square">
						<input class="sheet-square" type="number" name="attr_WizardSpellCheckMisc" value="-1"/>
					</div>
					<div class="sheet-item sheet-tiny">
						<input class="sheet-square" type="number" name="attr_WizardSpellCheck" value="@{Level}+@{Intelligence_mod}+@{WizardSpellCheckMisc}" disabled />
						<button class="sheet-square" type="roll" value="@{character_name} casts @{WizardSpell}: [[@{ActionDie}+@{WizardSpellCheck}]]" name="roll_WizardSpell">
					</div>
					<div class="sheet-item sheet-large">
						<input type="text" name="attr_WizardSpellMercurial"/>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<!-- cleric -->
	<div class="sheet-cleric">
		
		<h1>Cleric Spells &amp; Abilities</h2>
		<div>
			<div class="sheet-item sheet-med">
				<label>Deity:</label>
			</div>
			<div class="sheet-item sheet-large">
				<input type="text" name="attr_ClericDeity"/>
			</div>
		</div>
		<div class="sheet-statblock">
			<div class="sheet-item sheet-med">
				<label>Disapproval:</label>
			</div>
			<div class="sheet-item sheet-tiny">
				<select name="attr_ClericDisapproval" value="0" class="sheet-square">
					<option value="0" selected="selected">1</option>
					<option value="1">2</option>
					<option value="2">3</option>
					<option value="3">4</option>
					<option value="4">5</option>
					<option value="5">6</option>
					<option value="6">7</option>
					<option value="7">8</option>
					<option value="8">9</option>
					<option value="9">10</option>
					<option value="10">11</option>
					<option value="11">12</option>
					<option value="12">13</option>
					<option value="13">14</option>
					<option value="14">15</option>
					<option value="15">16</option>
					<option value="16">17</option>
					<option value="17">18</option>
					<option value="18">19</option>
					<option value="19">20</option>
				</select>
			</div>
		</div>
		<div class="sheet-statblock">
			<div class="sheet-item sheet-med">
				<label>Momentum:</label>
			</div>
			<div class="sheet-item sheet-tiny">
				<select name="attr_Momentum" value="9" class="sheet-square">
					<option value="0">1</option>
					<option value="1">2</option>
					<option value="2">3</option>
					<option value="3">4</option>
					<option value="4">5</option>
					<option value="5">6</option>
					<option value="6">7</option>
					<option value="7">8</option>
					<option value="8">9</option>
					<option value="9" selected="selected">10</option>
					<option value="10">11</option>
					<option value="11">12</option>
					<option value="12">13</option>
					<option value="13">14</option>
					<option value="14">15</option>
					<option value="15">16</option>
					<option value="16">17</option>
					<option value="17">18</option>
					<option value="18">19</option>
					<option value="19">20</option>
				</select>
			</div>
		</div>
		<div><label>Lay On Hands Results Table</label>
			<table>
				<tr>
					<td> (alignment step) </td>
					<td> 11 </td>
					<td> 13 </td>
					<td> 19 </td>
					<td> 21+ </td>
				</tr>
				<tr>
					<td> (same) </td>
					<td> 1 dice </td>
					<td> 2 dice </td>
					<td> 4 dice </td>
					<td> 4 dice </td>
				</tr>
				<tr>
					<td> (adjacent) </td>
					<td> 0 die </td>
					<td> 1 dice </td>
					<td> 2 dice </td>
					<td> 3 dice </td>
				</tr>
				<tr>
					<td> (opposed) </td>
					<td> 0 die </td>
					<td> 0 die </td>
					<td> 1 dice </td>
					<td> 2 dice </td>
				</tr>
			</table>
		</div>
		<div>
			<label>Spells:</label>
		</div>
		<div class="sheet-statblock">
			<div class="sheet-header">
				<div class="sheet-item sheet-small">
					<label>Spell Name</label>
				</div>
				<div class="sheet-item sheet-square">
					<label>Level</label>
				</div>
				<div class="sheet-item sheet-square">
					<label>Mods</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<label>Check</label>
				</div>
				<div class="sheet-item sheet-large">
					<label>Manifestation &amp; Notes</label>
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-small">
					<input type="text" name="attr_DivineAid" value="Divine Aid" disabled />
				</div>
				<div class="sheet-item sheet-square">
					<input class="sheet-square" type="number" name="attr_DivineAidLevel" value="0" disabled />
				</div>
				<div class="sheet-item sheet-square">
					<input class="sheet-square" type="number" name="attr_DivineAidCheckMisc" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input class="sheet-square" type="number" name="attr_DivineAidCheck" value="@{Level}+@{Personality_mod}+@{DivineAidCheckMisc}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} casts Divine Aid: [[@{ActionDie}+@{DivineAidCheck}]]" name="roll_DivineAid">
				</div>
				<div class="sheet-item sheet-large">
					<input type="text" name="attr_DivineAidNotes"/>
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-small">
					<input type="text" name="attr_TurnUnholy" value="Turn Unholy" disabled />
				</div>
				<div class="sheet-item sheet-square">
					<input class="sheet-square"  type="number" name="attr_TurnUnholyLevel" value="0" disabled />
				</div>
				<div class="sheet-item sheet-square">
					<input class="sheet-square"  type="number" name="attr_TurnUnholyCheckMisc" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input class="sheet-square" type="number" name="attr_TurnUnholyCheck" value="@{Level}+@{Personality_mod}+@{TurnUnholyCheckMisc}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} casts Turn Unholy: [[@{ActionDie}+@{TurnUnholyCheck}]]" name="roll_TurnUnholy">
				</div>
				<div class="sheet-item sheet-large">
					<input type="text" name="attr_TurnUnholyNotes"/>
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-small">
					<input type="text" name="attr_LayOnHands" value="Lay On Hands" disabled />
				</div>
				<div class="sheet-item sheet-square">
					<input class="sheet-square"  type="number" name="attr_LayOnHandsLevel" value="0" disabled />
				</div>
				<div class="sheet-item sheet-square">
					<input class="sheet-square" type="number" name="attr_LayOnHandsCheckMisc" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input class="sheet-square" type="number" name="attr_LayOnHandsCheck" value="@{Level}+@{Personality_mod}+@{LayOnHandsCheckMisc}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} casts Lay On Hands: [[@{ActionDie}+@{LayOnHandsCheck}]]" name="roll_LayOnHands">
				</div>
				<div class="sheet-item sheet-large">
					<input type="text" name="attr_LayOnHandsNotes"/>
				</div>
			
			</div>
			<fieldset class="repeating_clericspells">
				<div class="sheet-row">
					<div class="sheet-item sheet-small">
						<input type="text" name="attr_ClericSpell"/>
					</div>
					<div class="sheet-item sheet-square">
						<input class="sheet-square" type="number" name="attr_ClericSpellLevel" value="0"/>
					</div>
					<div class="sheet-item sheet-square">
						<input class="sheet-square" type="number" name="attr_ClericSpellCheckMisc" value="-1"/>
					</div>
					<div class="sheet-item sheet-tiny">
						<input class="sheet-square" type="number" name="attr_ClericSpellCheck" value="@{Level}+@{Personality_mod}+@{ClericSpellCheckMisc}" disabled />
						<button class="sheet-square" type="roll" value="@{character_name} casts @{ClericSpell}: [[@{ActionDie}+@{ClericSpellCheck}]]" name="roll_ClericSpell">
					</div>
					<div class="sheet-item sheet-large">
						<input type="text" name="attr_ClericSpellNotes"/>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<!-- thief -->
	<div class="sheet-thief">
		
		<h1>Thief Abilities</h2>
		<div class="sheet-statblock">
			<div class="sheet-header">
				<div class="sheet-item sheet-med">
					<label>Ability</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<label>Base</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<label>Check</label>
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Luck die</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<select name="attr_ThiefLuckDie" value="d-1">
						<option value="d-1" selected="selected">--</option>
						<option value="d2">d3</option>
						<option value="d3">d4</option>
						<option value="d4">d5</option>
						<option value="d5">d6</option>
						<option value="d6">d7</option>
						<option value="d7">d8</option>
						<option value="d9">d10</option>
						<option value="d11">d12</option>
						<option value="d13">d14</option>
						<option value="d15">d16</option>
					</select>
				</div>
				<div class="sheet-item sheet-tiny">
					<button class="sheet-square" type="roll" value="@{character_name} uses Luck: [[@{ThiefLuckDie}]]" name="roll_ThiefLuckDie"/>
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Backstab</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="text" class="sheet-square"  name="attr_ThiefBackstab" value="-1"/>
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Sneak silently</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="text" class="sheet-square"  name="attr_ThiefSneak" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input class="sheet-square" type="number" class="sheet-square" name="attr_ThiefSneakCheck" value="@{ThiefSneak}+@{Agility_mod}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} sneaks silently: [[@{ActionDie}+@{ThiefSneakCheck}]]" name="roll_ThiefSneak">
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Hide in shadows</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="text" class="sheet-square"  name="attr_ThiefHide" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input class="sheet-square" type="number" class="sheet-square" name="attr_ThiefHideCheck" value="@{ThiefHide}+@{Agility_mod}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} hides in shadows: [[@{ActionDie}+@{ThiefHideCheck}]]" name="roll_ThiefHide">
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Pick pocket</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="text" class="sheet-square"  name="attr_ThiefPickPockets" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input class="sheet-square" type="number" class="sheet-square" name="attr_ThiefPickPocketsCheck" value="@{ThiefPickPockets}+@{Agility_mod}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} picks pockets: [[@{ActionDie}+@{ThiefPickPocketsCheck}]]" name="roll_ThiefPickPockets">
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Climb sheer surfaces</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="text" class="sheet-square"  name="attr_ThiefClimb" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="number" class="sheet-square" name="attr_ThiefClimbCheck" value="@{ThiefClimb}+@{Agility_mod}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} climbs sheer surfaces: [[@{ActionDie}+@{ThiefClimbCheck}]]" name="roll_ThiefClimb"/>
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Pick lock</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="text" class="sheet-square"  name="attr_ThiefPickLocks" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="number" class="sheet-square" name="attr_ThiefPickLocksCheck" value="@{ThiefPickLocks}+@{Agility_mod}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} picks locks: [[@{ActionDie}+@{ThiefPickLocksCheck}]]" name="roll_ThiefPickLocks">
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Find trap</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="text" class="sheet-square"  name="attr_ThiefFindTraps" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="number" class="sheet-square" name="attr_ThiefFindTrapsCheck" value="@{ThiefFindTraps}+@{Intelligence_mod}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} finds traps: [[@{ActionDie}+@{ThiefFindTrapsCheck}]]" name="roll_ThiefFindTraps">
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Disable trap</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="text" class="sheet-square"  name="attr_ThiefDisableTraps" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="number" class="sheet-square" name="attr_ThiefDisableTrapsCheck" value="@{ThiefDisableTraps}+@{Agility_mod}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} disables traps: [[@{ActionDie}+@{ThiefDisableTrapsCheck}]]" name="roll_ThiefDisableTraps">
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Forge document</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="text" class="sheet-square"  name="attr_ThiefForgeDocuments" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="number" class="sheet-square" name="attr_ThiefForgeDocumentsCheck" value="@{ThiefForgeDocuments}+@{Agility_mod}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} forges documents: [[@{ActionDie}+@{ThiefForgeDocumentsCheck}]]" name="roll_ThiefForgeDocuments">
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Disguise self</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="text" class="sheet-square"  name="attr_ThiefDisguise" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="number" class="sheet-square" name="attr_ThiefDisguiseCheck" value="@{ThiefDisguise}+@{Personality_mod}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} disguises: [[@{ActionDie}+@{ThiefDisguiseCheck}]]" name="roll_ThiefDisguise">
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Read languages</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="text" class="sheet-square"  name="attr_ThiefRead" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="number" class="sheet-square" name="attr_ThiefReadCheck" value="@{ThiefRead}+@{Intelligence_mod}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} reads languages: [[@{ActionDie}+@{ThiefReadCheck}]]" name="roll_ThiefRead">
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Handle poison</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="text" class="sheet-square"  name="attr_ThiefPoison" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="number" class="sheet-square" name="attr_ThiefPoisonCheck" value="@{ThiefPoison}}" disabled />
					 <button class="sheet-square" type="roll" value="@{character_name} handles poison: [[@{ActionDie}+@{ThiefPoisonCheck}]]" name="roll_ThiefPoison">
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Cast spell from scroll</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="text" class="sheet-square"  name="attr_ThiefCastScroll" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="number" class="sheet-square" name="attr_ThiefCastScrollCheck" value="@{ThiefCastScroll}+@{Intelligence_mod}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} casts a spell from a scroll: [[@{ActionDie}+@{ThiefCastScrollCheck}]]" name="roll_ThiefCastScroll">
				</div>
			</div>
		</div>
	</div>
	<!-- halfling -->
	<div class="sheet-halfling">
		
		<h1>Halfling Abilities</h2>
		<div class="sheet-statblock">
			<div class="sheet-item sheet-med">
				<label>Stealth:</label>
			</div>
			<div class="sheet-item sheet-tiny">
				<input type="text" class="sheet-square" name="attr_HalflingStealth" value="-1"/>
			</div>
			<div class="sheet-item sheet-tiny">
				<input type="number" class="sheet-square" name="attr_ThiefCastScrollCheck" value="@{HalflingStealth}+@{Agility_mod}" disabled />
				<button class="sheet-square" type="roll" value="@{character_name} Sneaks: [[@{ActionDie}+@{HalflingStealth}+@{Agility_mod}]]" name="roll_ThiefHide">
			</div>
		</div>
		<div>
			<label>Infravision</label>
		</div>
		<div>
			<label>Lucky</label>
		</div>
		<div>
			<label>Two-weapon fighting</label><br/>
			<ul>
				<li>Action dice d15+d16<br/>
				</li>
				<li>Crit on nat 15<br/>
				</li>
				<li>Fumble only on 1x 1<br/>
				</li>
				<li>If Agi &gt;15, use normal rules<br/>
				</li>
			</ul>
		</div>
	</div>
	<!-- dwarf -->
	<div class="sheet-dwarf">
		
		<h1>Dwarf Abilities</h2>
		<div>
			<div class="sheet-statblock">
				<div class="sheet-item sheet-med">
					<label>Mighty Deeds of Arms:</label>
				</div>
				<div class="sheet-item sheet-tiny">
		            <select name="attr_DeedDie" value="d-1">
							<option value="d-1" selected="selected">--</option>
							<option value="d2">d3</option>
							<option value="d3">d4</option>
							<option value="d4">d5</option>
							<option value="d5">d6</option>
							<option value="d6">d7</option>
							<option value="d7">d8</option>
							<option value="d9">d10</option>
							<option value="d9+1">d10+1</option>
							<option value="d9+2">d10+2</option>
							<option value="d9+3">d10+3</option>
							<option value="d9+4">d10+4</option>
		            </select>
				</div>
				<div class="sheet-item sheet-tiny">
					<button class="sheet-square" type="roll" value="@{character_name} does a Mighty Deed: [[@{DeedDie}]]" name="roll_DeedDie"/>
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Lucky weapon:</label>
				</div>
				<div class="sheet-item sheet-large">
					<input type="text" name="attr_LuckyWeapon"/>
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Shield bash (d13)</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<button class="sheet-square" type="roll" value="@{character_name} does a shield bash. Attack roll: [[d13+@{Strength_mod}]] plus Mighty Deed. Damage roll: [[1d4+@{Strength_mod}]] plus Mighty Deed." name="roll_dwarfShieldBash"/>
				</div>
			</div>
			<div>
				<label>Infravision</label>
			</div>
			<div>
				<label>Underground skills (smell gold/gems, find construction)</label>
			</div>
		</div>
	</div>
	<!-- elf -->
	<div class="sheet-elf">
		<h1>Elf Spells &amp; Abilities</h2>
		<div>
			<div class="sheet-item sheet-med">
				<label>Familiar:</label>
			</div>
			<div class="sheet-item sheet-large">
				<input type="text" name="attr_ElfFamiliar"/>
			</div>
		</div>
		<div>
			<div class="sheet-item sheet-med">
				<label>Patron(s):</label>
			</div>
			<div class="sheet-item sheet-large">
				<input type="text" name="attr_ElfPatron"/>
			</div>
		</div>
		<div>
			<div class="sheet-item sheet-med">
				<label>Corruption:</label>
			</div>
			<div class="sheet-item sheet-large">
				<input type="text" name="attr_ElfCorruption"/>
			</div>
		</div>
		<div>
			<div class="sheet-item sheet-med">
				<label>Other notes:</label>
			</div>
			<div class="sheet-item sheet-large">
				<input type="text" name="attr_ElfNotes"/>
			</div>
		</div>
		<div>
			<label>Elf traits: iron vulnerability, heightened senses, Luck mod to one level 0 spell</label>
		</div>
		<div class="sheet-statblock">
			<div class="sheet-item sheet-med">
				<label>Momentum:</label>
			</div>
			<div class="sheet-item sheet-tiny">
				<select name="attr_Momentum" value="9" class="sheet-square">
					<option value="0">1</option>
					<option value="1">2</option>
					<option value="2">3</option>
					<option value="3">4</option>
					<option value="4">5</option>
					<option value="5">6</option>
					<option value="6">7</option>
					<option value="7">8</option>
					<option value="8">9</option>
					<option value="9" selected="selected">10</option>
					<option value="10">11</option>
					<option value="11">12</option>
					<option value="12">13</option>
					<option value="13">14</option>
					<option value="14">15</option>
					<option value="15">16</option>
					<option value="16">17</option>
					<option value="17">18</option>
					<option value="18">19</option>
					<option value="19">20</option>
				</select>
			</div>
		</div>
		<div>
			<label>Spells:</label>
		</div>
		<div class="sheet-statblock">
			<div class="sheet-header">
				<div class="sheet-item sheet-small">
					<label>Spell Name</label>
				</div>
				<div class="sheet-item sheet-square">
					<label>Level</label>
				</div>
				<div class="sheet-item sheet-square">
					<label>Mods</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<label>Check</label>
				</div>
				<div class="sheet-item sheet-large">
					<label>Mercurial Effect &amp; Notes</label>
				</div>
			</div>
			<div class="sheet-row">
				<div class="sheet-item sheet-small">
					<input type="text" name="attr_ElfPatronBond" value="Patron Bond" disabled />
				</div>
				<div class="sheet-item sheet-square">
					<input type="number"  class="sheet-square" name="attr_ElfPatronBondLevel" value="0" disabled />
				</div>
				<div class="sheet-item sheet-square">
					<input type="number"  class="sheet-square" name="attr_ElfPatronBondMisc" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="number"  class="sheet-square" name="attr_ElfPatronBondCheck" value="@{Level}+@{ElfPatronBondMisc}+@{Intelligence_mod}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} casts Patron Bond: [[@{ActionDie}+@{ElfPatronBondCheck}]]" name="roll_elfPatronBond">
				</div>
				<div class="sheet-item sheet-large">
					<input type="text" name="attr_ElfPatronBondNotes"/>
				</div>
			</div>
			<div class="sheet-row">
				<div class="sheet-item sheet-small">
					<input type="text" name="attr_ElfInvokePatron" value="Invoke Patron" disabled />
				</div>
				<div class="sheet-item sheet-square">
					<input type="number"  class="sheet-square" name="attr_ElfInvokePatronLevel" value="0" disabled />
				</div>
				<div class="sheet-item sheet-square">
					<input type="number"  class="sheet-square" name="attr_ElfInvokePatronMisc" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input type="number"  class="sheet-square"  name="attr_ElfInvokePatronCheck" value="@{Intelligence_mod}+@{Level}+@{ElfInvokePatronMisc}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} casts Invoke Patron: [[@{ActionDie}+@{ElfInvokePatronCheck}]]" name="roll_ElfInvokePatron">
						
				</div>
				<div class="sheet-item sheet-large">
					<input type="text" name="attr_ElfInvokePatronNotes"/>
				</div>
			</div>
			<fieldset class="repeating_elfspells">
				<div class="sheet-row">
					<div class="sheet-item sheet-small">
						<input type="text" name="attr_ElfSpell"/>
					</div>
					<div class="sheet-item sheet-square">
						<input type="number"  class="sheet-square" name="attr_ElfSpellLevel" value="0"/>
					</div>
					<div class="sheet-item sheet-square">
						<input type="number"  class="sheet-square"  name="attr_ElfSpellCheckMisc" value="-1"/>
					</div>
					<div class="sheet-item sheet-tiny">
						<input type="number"  class="sheet-square" name="attr_ElfSpellCheck" value="@{Level}+@{ElfSpellCheckMisc}+@{Intelligence_mod}" disabled />
						<button class="sheet-square" type="roll" value="@{character_name} casts @{ElfSpell}: [[@{ActionDie}+@{ElfSpellCheck}]]" name="roll_ElfSpell">
					</div>
					<div class="sheet-item sheet-large">
						<input type="text"  name="attr_ElfSpellNotes"/>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<!-- bard -->
	<div class="sheet-bard">
		<h1>Bard Spells &amp; Abilities</h2>
		<div class="sheet-statblock">
			<div class="sheet-item sheet-med">
				<label>Talent Die</label>
			</div>
			<div class="sheet-item sheet-tiny">
				<select name="attr_TalentDie">
						<option value="d-1" selected="selected">--</option>
						<option value="d13">d14</option>
						<option value="d15">d16</option>
						<option value="d19">d20</option>
						<option value="d23">d24</option>
						<option value="d29">d30</option>
						<option value="d29+1">d30+1</option>
						<option value="d29+2">d30+2</option>
						<option value="d29+3">d30+3</option>
	            </select>
			</div>
		</div>
		<div class="sheet-row">
			<div class="sheet-item sheet-med">
				<label>Call to Arms</label>
			</div>
			<div class="sheet-item sheet-square">
				<input type="number" class="sheet-square" name="attr_BardCalltoArms" value="-1"/>
			</div>
			<div class="sheet-item sheet-tiny">
				<input type="number" class="sheet-square" name="attr_BardCalltoArmsCheck" value="@{Personality_mod}+@{BardCalltoArms}" disabled />
				<button class="sheet-square" type="roll" value="@{character_name} makes a Call to Arms: [[@{TalentDie}+@{BardCalltoArmsCheck}]]" name="roll_TalentDie">
			</div>
		</div>
		<div class="sheet-row">
			<div class="sheet-item sheet-med">
				<label>Challenge</label>
			</div>
			<div class="sheet-item sheet-square">
				<input type="number" class="sheet-square"  name="attr_BardChallenge" value="-1"/>
			</div>
			<div class="sheet-item sheet-tiny">
				<input type="number" class="sheet-square" name="attr_BardChallengeCheck" value="@{Personality_mod}+@{BardChallenge}" disabled />
				<button class="sheet-square" type="roll" value="@{character_name} performs a Challenge: [[@{TalentDie}+@{BardChallengeCheck}]]" name="roll_TalentDie">
			</div>
		</div><div class="sheet-row">
			<div class="sheet-item sheet-med">
				<label>Calm</label>
			</div>
			<div class="sheet-item sheet-square">
				<input type="number" class="sheet-square"  name="attr_BardCalm" value="-1"/>
			</div>
			<div class="sheet-item sheet-tiny">
				<input type="number" class="sheet-square" name="attr_BardCalmCheck" value="@{Personality_mod}+@{BardCalm}" disabled />
				<button class="sheet-square" type="roll" value="@{character_name} performs Calm: [[@{TalentDie}+@{BardCalmCheck}]]" name="roll_TalentDie">
			</div>
		</div><div class="sheet-row">
			<div class="sheet-item sheet-med">
				<label>Lore</label>
			</div>
			<div class="sheet-item sheet-square">
				<input type="number" class="sheet-square"  name="attr_BardLore" value="-1"/>
			</div>
			<div class="sheet-item sheet-tiny">
				<input type="number" class="sheet-square" name="attr_BardLoreCheck" value="@{Intelligence_mod}+@{BardLore}" disabled />
				<button class="sheet-square" type="roll" value="@{character_name} uses Lore: [[@{TalentDie}+@{BardLoreCheck}]]" name="roll_TalentDie">
			</div>
		</div>
		
		<div class="sheet-row">
			<div class="sheet-item sheet-med">
				<label>Corruption:</label>
			</div>
			<div class="sheet-item sheet-large">
				<input type="text" name="attr_WizardCorruption"/>
			</div>
		</div>
		<div class="sheet-row">
			<div class="sheet-item sheet-med">
				<label>Other notes:</label>
			</div>
			<div class="sheet-item sheet-large">
				<input type="text" name="attr_WizardNotes"/>
			</div>
		</div>
		<div class="sheet-statblock">
			<div class="sheet-item sheet-med">
				<label>Momentum:</label>
			</div>
			<div class="sheet-item sheet-tiny">
				<select name="attr_Momentum" class="sheet-square">
					<option value="0">1</option>
					<option value="1">2</option>
					<option value="2">3</option>
					<option value="3">4</option>
					<option value="4">5</option>
					<option value="5">6</option>
					<option value="6">7</option>
					<option value="7">8</option>
					<option value="8">9</option>
					<option value="9" selected="selected">10</option>
					<option value="10">11</option>
					<option value="11">12</option>
					<option value="12">13</option>
					<option value="13">14</option>
					<option value="14">15</option>
					<option value="15">16</option>
					<option value="16">17</option>
					<option value="17">18</option>
					<option value="18">19</option>
					<option value="19">20</option>
				</select>
			</div>
		</div>
		<div>
			<label>Spells:</label>
		</div>
		<div class="sheet-statblock">
			<div class="sheet-header">
				<div class="sheet-item sheet-small">
					<label>Spell Name</label>
				</div>
				<div class="sheet-item sheet-square">
					<label>Level</label>
				</div>
				<div class="sheet-item sheet-square">
					<label>Mods</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<label>Check</label>
				</div>
				<div class="sheet-item sheet-large">
					<label>Mercurial Effect &amp; Notes</label>
				</div>
			</div>
			<fieldset class="repeating_bardspells">
				<div class="sheet-row">
					<div class="sheet-item sheet-small">
						<input type="text" name="attr_BardSpell"/>
					</div>
					<div class="sheet-item sheet-square">
						<input type="number" name="attr_BardSpellLevel" value="0"/>
					</div>
					<div class="sheet-item sheet-square">
						<input type="number" name="attr_BardSpellCheckMisc" value="-1"/>
					</div>
					<div class="sheet-item sheet-tiny">
						<input class="sheet-square" type="number" name="attr_BardSpellCheck" value="@{Level}+@{Intelligence_mod}+@{BardSpellCheckMisc}" disabled />
						<button class="sheet-square" type="roll" value="@{character_name} casts @{BardSpell}: [[@{ActionDie}+@{BardSpellCheck}]]" name="roll_BardSpell">
					</div>
					<div class="sheet-item sheet-large">
						<input type="text" name="attr_BardSpellMercurial"/>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="sheet-med">
			The Bard class is from Crawl! No.5: Classic Class Collection
		</div>
	</div>
	<!-- gnome -->
	<div class="sheet-gnome">
		<h1>Gnome Spells &amp; Abilities</h2>		
		<div class="sheet-statblock">
			<div class="sheet-item sheet-med">
				<label>Trick Die</label>
			</div>
			<div class="sheet-item sheet-tiny">
				<select name="attr_TrickDie">
						<option value="d-1" selected="selected">--</option>
						<option value="d2">d3</option>
						<option value="d3">d4</option>
						<option value="d4">d5</option>
						<option value="d5">d6</option>
						<option value="d6">d7</option>
	            </select>
			</div>
		</div>
		
		<div>
			<div class="sheet-item sheet-med">
				<label>Magic Resistance</label>
			</div>
			<div class="sheet-item sheet-med">
				<input type="number" class="sheet-square" name="attr_MagicResistance" value="9*@{Level}" disabled /> &#37;
				<button class="sheet-square" type="roll" value="/roll 0d100<@{MagicResistance} to resist Magic." name="roll_MagicResistance">
			</div>
		</div>
		
		<div>
			<div class="sheet-item sheet-med">
				<label>Sturdy Illusionist Trick</label>
			</div>
			<div class="sheet-item sheet-med">
				<input type="number" class="sheet-square" name="attr_IllusionTrick" value="@{TrickDie}" disabled />
				<button class="sheet-square" type="roll" value="@{character_name} performs an illusionary trick: [[@{TrickDie}]]" name="roll_IllusionTrick">
			</div>
		</div>
		
		<div>
			<div class="sheet-item sheet-med">
				<label>Animal Trick</label>
			</div>
			<div class="sheet-item sheet-med">
				<input type="number" class="sheet-square" name="attr_AnimalTrickDie" value="@{TrickDie}" disabled />
				<button class="sheet-square" type="roll" value="@{character_name} befriends an animal: [[@{TrickDie}]]" name="roll_AnimalTrick">
			</div>
		</div>
		
		<div>
			<div class="sheet-item sheet-med">
				<label>Gem Affinity</label>
			</div>
			<div class="sheet-item sheet-med">
				<input type="number" class="sheet-square" name="attr_GemAffinity" value="9*@{Level}" disabled /> &#37;
				<button class="sheet-square" type="roll" value="/roll 0d100<@{GemAffinity} to detect gems." name="roll_GemAffinity">
			</div>
		</div>
	
		<div>
			<label>Gnome traits: night vision, Luck mod vs. magic saves</label>
		</div>
		
		<div>
			<div class="sheet-item sheet-med">
				<label>Corruption:</label>
			</div>
			<div class="sheet-item sheet-large">
				<input type="text" name="attr_WizardCorruption"/>
			</div>
		</div>
		<div>
			<div class="sheet-item sheet-med">
				<label>Other notes:</label>
			</div>
			<div class="sheet-item sheet-large">
				<input type="text" name="attr_WizardNotes"/>
			</div>
		</div>
		<div class="sheet-statblock">
			<div class="sheet-item sheet-med">
				<label>Momentum:</label>
			</div>
			<div class="sheet-item sheet-tiny">
				<select name="attr_Momentum" class="sheet-square">
					<option value="0">1</option>
					<option value="1">2</option>
					<option value="2">3</option>
					<option value="3">4</option>
					<option value="4">5</option>
					<option value="5">6</option>
					<option value="6">7</option>
					<option value="7">8</option>
					<option value="8">9</option>
					<option value="9" selected="selected">10</option>
					<option value="10">11</option>
					<option value="11">12</option>
					<option value="12">13</option>
					<option value="13">14</option>
					<option value="14">15</option>
					<option value="15">16</option>
					<option value="16">17</option>
					<option value="17">18</option>
					<option value="18">19</option>
					<option value="19">20</option>
				</select>
			</div>
		</div>
		<div>
			<label>Spells:</label>
		</div>
		<div class="sheet-statblock">
			<div class="sheet-header">
				<div class="sheet-item sheet-small">
					<label>Spell Name</label>
				</div>
				<div class="sheet-item sheet-square">
					<label>Level</label>
				</div>
				<div class="sheet-item sheet-square">
					<label>Mods</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<label>Check</label>
				</div>
				<div class="sheet-item sheet-large">
					<label>Mercurial Effect &amp; Notes</label>
				</div>
			</div>
			<fieldset class="repeating_gnomespells">
				<div class="sheet-row">
					<div class="sheet-item sheet-small">
						<input type="text" name="attr_GnomeSpell"/>
					</div>
					<div class="sheet-item sheet-square">
						<input class="sheet-square" type="number" name="attr_GnomeSpellLevel" value="0"/>
					</div>
					<div class="sheet-item sheet-square">
						<input class="sheet-square" type="number" name="attr_GnomeSpellCheckMisc" value="-1"/>
					</div>
					<div class="sheet-item sheet-tiny">
						<input class="sheet-square" type="number" name="attr_GnomeSpellCheck" value="@{Intelligence_mod}+@{GnomeSpellCheckMisc}" disabled />
						<button class="sheet-square" type="roll" value="@{character_name} casts @{GnomeSpell}: [[@{ActionDie}+@{GnomeSpellCheck}]]" name="roll_GnomeSpell">
					</div>
					<div class="sheet-item sheet-large">
						<input type="text" name="attr_GnomeSpellMercurial"/>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="sheet-med">
			The Gnome class is from Crawl! No.5: Classic Class Collection
		</div>
	</div>
	<!-- paladin -->
	<div class="sheet-paladin">
		<h1>Paladin Spells &amp; Abilities</h2>
		<div class="sheet-statblock">
			<div class="sheet-item sheet-med">
				<label>Smite:</label>
			</div>
			<div class="sheet-item sheet-tiny">
	            <select name="attr_DeedDie">
						<option value="d-1" selected="selected">--</option>
						<option value="d2">d3</option>
						<option value="d3">d4</option>
						<option value="d4">d5</option>
						<option value="d5">d6</option>
						<option value="d6">d7</option>
						<option value="d7">d8</option>
						<option value="d9">d10</option>
						<option value="d9+1">d10+1</option>
						<option value="d9+2">d10+2</option>
						<option value="d9+3">d10+3</option>
						<option value="d9+4">d10+4</option>
	            </select>
			</div>
			<div class="sheet-item sheet-tiny">
				<button class="sheet-square" type="roll" value="@{character_name} does a Mighty Deed: [[@{DeedDie}]]" name="roll_DeedDie"/>
			</div>
		</div>
		<div>
			<div class="sheet-item sheet-med">
				<label>Deity:</label>
			</div>
			<div class="sheet-item sheet-large">
				<input type="text" name="attr_ClericDeity"/>
			</div>
		</div>
		<div class="sheet-statblock">
			<div class="sheet-item sheet-med">
				<label>Disapproval:</label>
			</div>
			<div class="sheet-item sheet-tiny">
				<select name="attr_Disapproval" class="sheet-square">
					<option value="0" selected="selected">1</option>
					<option value="1">2</option>
					<option value="2">3</option>
					<option value="3">4</option>
					<option value="4">5</option>
					<option value="5">6</option>
					<option value="6">7</option>
					<option value="7">8</option>
					<option value="8">9</option>
					<option value="9">10</option>
					<option value="10">11</option>
					<option value="11">12</option>
					<option value="12">13</option>
					<option value="13">14</option>
					<option value="14">15</option>
					<option value="15">16</option>
					<option value="16">17</option>
					<option value="17">18</option>
					<option value="18">19</option>
					<option value="19">20</option>
				</select>
			</div>
		</div>
		<div class="sheet-statblock">
			<div class="sheet-item sheet-med">
				<label>Fallen Points:</label>
			</div>
			<div class="sheet-item sheet-tiny">
				<select name="attr_FallenPoints" class="sheet-square">
					<option value="-1" selected="selected">0</option>
					<option value="0">1</option>
					<option value="1">2</option>
					<option value="2">3</option>
					<option value="3">4</option>
					<option value="4">5</option>
					<option value="5">6</option>
					<option value="6">7</option>
					<option value="7">8</option>
					<option value="8">9</option>
					<option value="9">10</option>
					<option value="10">11</option>
					<option value="11">12</option>
					<option value="12">13</option>
					<option value="13">14</option>
					<option value="14">15</option>
					<option value="15">16</option>
					<option value="16">17</option>
					<option value="17">18</option>
					<option value="18">19</option>
					<option value="19">20</option>
				</select>
			</div>
		</div>
		<div class="sheet-statblock">
			<div class="sheet-item sheet-med">
				<label>Momentum:</label>
			</div>
			<div class="sheet-item sheet-tiny">
				<select name="attr_Momentum" class="sheet-square">
					<option value="0">1</option>
					<option value="1">2</option>
					<option value="2">3</option>
					<option value="3">4</option>
					<option value="4">5</option>
					<option value="5">6</option>
					<option value="6">7</option>
					<option value="7">8</option>
					<option value="8">9</option>
					<option value="9" selected="selected">10</option>
					<option value="10">11</option>
					<option value="11">12</option>
					<option value="12">13</option>
					<option value="13">14</option>
					<option value="14">15</option>
					<option value="15">16</option>
					<option value="16">17</option>
					<option value="17">18</option>
					<option value="18">19</option>
					<option value="19">20</option>
				</select>
			</div>
		</div>
		<div><label>Holy Deeds Results Table</label>
			<table>
				<tr>
					<td> Holy Deed </td>
					<td> 11 </td>
					<td> 13 </td>
					<td> 19 </td>
					<td> 21 </td>
					<td> 24+ </td>
				</tr>
				<tr>
					<td> Lay on Hands (same) </td>
					<td> 0 die </td>
					<td> 1 dice </td>
					<td> 2 dice </td>
					<td> 3 dice </td>
					<td> 3 dice </td>
				</tr>
				<tr>
					<td> Lay on Hands (adjacent) </td>
					<td> None </td>
					<td> 0 die </td>
					<td> 1 dice </td>
					<td> 2 dice </td>
					<td> 2 dice </td>
				</tr>
				<tr>
					<td> Lay on Hands (opposed) </td>
					<td> None </td>
					<td> None </td>
					<td> 0 die </td>
					<td> 1 dice </td>
					<td> 1 dice </td>
				</tr>
				<tr>
					<td> Instill Bravery </td>
					<td> +0 bonus/ one target </td>
					<td> +1 bonus/1d3 targets </td>
					<td> +2 bonus/1d4 targets </td>
					<td> +3 bonus/1d6 targets </td>
					<td> +4 bonus/1d7 targets </td>
				</tr>
				<tr>
					<td> Fear </td>
					<td> One target </td>
					<td> 0d3 targets </td>
					<td> 0d5 targets </td>
					<td> 0d7 targets </td>
					<td> 0d8 targets </td>
				</tr>
			</table>
		</div>
		<div>
			<label>Spells:</label>
		</div>
		<div class="sheet-statblock">
			<div class="sheet-header">
				<div class="sheet-item sheet-small">
					<label>Spell Name</label>
				</div>
				<div class="sheet-item sheet-square">
					<label>Level</label>
				</div>
				<div class="sheet-item sheet-square">
					<label>Mods</label>
				</div>
				<div class="sheet-item sheet-tiny">
					<label>Check</label>
				</div>
				<div class="sheet-item sheet-large">
					<label>Manifestation &amp; Notes</label>
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-small">
					<input type="text" name="attr_InstillBravery" value="Instill Bravery" disabled />
				</div>
				<div class="sheet-item sheet-square">
					<input class="sheet-square" type="number" name="attr_InstillBraveryLevel" value="0" disabled />
				</div>
				<div class="sheet-item sheet-square">
					<input class="sheet-square" type="number" name="attr_InstillBraveryCheckMisc" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input class="sheet-square" type="number" name="attr_InstillBraveryCheck" value="@{Level}+@{Personality_mod}+@{InstillBraveryCheckMisc}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} casts Instill Bravery: [[@{ActionDie}+@{InstillBraveryCheck}]]" name="roll_InstillBravery">
				</div>
				<div class="sheet-item sheet-large">
					<input type="text" name="attr_InstillBraveryNotes"/>
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-small">
					<input type="text" name="attr_CauseFear" value="Cause Fear" disabled />
				</div>
				<div class="sheet-item sheet-square">
					<input class="sheet-square" type="number" name="attr_CauseFearLevel" value="0" disabled />
				</div>
				<div class="sheet-item sheet-square">
					<input class="sheet-square" type="number" name="attr_CauseFearCheckMisc" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input class="sheet-square" type="number" name="attr_CauseFearCheck" value="@{Level}+@{Personality_mod}+@{CauseFearCheckMisc}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} casts Cause Fear: [[@{ActionDie}+@{CauseFearCheck}]]" name="roll_CauseFear">
				</div>
				<div class="sheet-item sheet-large">
					<input type="text" name="attr_CauseFearNotes"/>
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-small">
					<input type="text" name="attr_LayOnHands" value="Lay On Hands" disabled />
				</div>
				<div class="sheet-item sheet-square">
					<input class="sheet-square" type="number" name="attr_LayOnHandsLevel" value="0" disabled />
				</div>
				<div class="sheet-item sheet-square">
					<input class="sheet-square" type="number" name="attr_LayOnHandsCheckMisc" value="-1"/>
				</div>
				<div class="sheet-item sheet-tiny">
					<input class="sheet-square" type="number" name="attr_LayOnHandsCheck" value="@{Level}+@{Personality_mod}+@{LayOnHandsCheckMisc}" disabled />
					<button class="sheet-square" type="roll" value="@{character_name} casts Lay on Hands: [[@{ActionDie}+@{LayOnHandsCheck}]]" name="roll_LayOnHands">
				</div>
				<div class="sheet-item sheet-large">
					<input type="text" name="attr_LayOnHandsNotes"/>
				</div>
			
			</div>
			<fieldset class="repeating_paladinspells">
				<div class="sheet-row">
					<div class="sheet-item sheet-small">
						<input type="text" name="attr_PaladinSpell"/>
					</div>
					<div class="sheet-item sheet-square">
						<input class="sheet-square" type="number" name="attr_PaladinSpellLevel" value="0"/>
					</div>
					<div class="sheet-item sheet-square">
						<input class="sheet-square" type="number" name="attr_PaladinSpellCheckMisc" value="-1"/>
					</div>
					<div class="sheet-item sheet-tiny">
						<input class="sheet-square" type="number" name="attr_PaladinSpellCheck" value="@{Level}+@{Personality_mod}+@{PaladinSpellCheckMisc}" disabled />
						<button class="sheet-square" type="roll" value="@{character_name} casts @{PaladinSpell}: [[@{ActionDie}+@{PaladinSpellCheck}]]" name="roll_PaladinSpell">
					</div>
					<div class="sheet-item sheet-large">
						<input type="text" name="attr_PaladinSpellNotes"/>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="sheet-med">
			The Paladin class is from Crawl! No.5: Classic Class Collection
		</div>
	</div>	
	<!-- ranger -->
	<div class="sheet-ranger">
		<h1>Ranger Abilities</h2>
		<div>
			<div class="sheet-statblock">
				<div class="sheet-item sheet-med">
					<label>Mighty Deeds of Arms:</label>
				</div>
				<div class="sheet-item sheet-tiny">
		            <select name="attr_DeedDie">
							<option value="d-1" selected="selected">--</option>
							<option value="d2">d3</option>
							<option value="d3">d4</option>
							<option value="d4">d5</option>
							<option value="d5">d6</option>
							<option value="d6">d7</option>
							<option value="d7">d8</option>
							<option value="d9">d10</option>
							<option value="d9+1">d10+1</option>
		            </select>
				</div>
				<div class="sheet-item sheet-tiny">
					<button class="sheet-square" type="roll" value="@{character_name} does a Mighty Deed: [[@{DeedDie}]]" name="roll_DeedDie"/>
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Ranger Path:</label>
				</div>
				<div class="sheet-item sheet-large">
		            <select name="attr_RangerPath">
							<option value="None" selected="selected">None</option>
							<option value="Archery">Archery Expert</option>
							<option value="Two Weapon">Two-Weapon Expert</option>
		            </select>
				</div>
			</div>
			<div>
				<div class="sheet-item sheet-med">
					<label>Favored Enemy:</label>
				</div>
				<div class="sheet-item sheet-large">
					<input type="text" name="attr_RangerFavoredEnemy"/>
				</div>
			</div>
			<div class="sheet-statblock">
				<div class="sheet-header">
					<div class="sheet-item sheet-med">
						<label>Ability</label>
					</div>
					<div class="sheet-item sheet-square">
						<label>Base</label>
					</div>
					<div class="sheet-item sheet-tiny">
						<label>Check</label>
					</div>
				</div>
				<div>
					<div class="sheet-item sheet-med">
						<label>Climb</label>
					</div>
					<div class="sheet-item sheet-square">
						<input type="text" class="sheet-square"  name="attr_RangerClimb" value="-1"/>
					</div>
					<div class="sheet-item sheet-tiny">
						<input type="number" class="sheet-square" name="attr_RangerClimbCheck" value="@{RangerClimb}+@{Agility_mod}+@{Level}" disabled />
						<button class="sheet-square" type="roll" value="@{character_name} climbs: [[@{ActionDie}+@{RangerClimbheck}]]" name="roll_RangerClimb">
							
					</div>
				</div>
				<div>
					<div class="sheet-item sheet-med">
						<label>Find Traps</label>
					</div>
					<div class="sheet-item sheet-square">
						<input type="text" class="sheet-square"  name="attr_RangerTraps" value="-1"/>
					</div>
					<div class="sheet-item sheet-tiny">
						<input type="number" class="sheet-square" name="attr_RangerTrapsCheck" value="@{RangerTraps}+@{Agility_mod}+@{Level}" disabled />
						<button class="sheet-square" type="roll" value="@{character_name} finds and/or neutralizes a trap: [[@{ActionDie}+@{RangerTrapsCheck}]]" name="roll_RangerTraps">
					</div>
				</div>
				<div>
					<div class="sheet-item sheet-med">
						<label>Sneak and Hide</label>
					</div>
					<div class="sheet-item sheet-square">
						<input type="text" class="sheet-square"  name="attr_RangerSneak" value="-1"/>
					</div>
					<div class="sheet-item sheet-tiny">
						<input type="number" class="sheet-square" name="attr_RangerSneakCheck" value="@{RangerSneak}+@{Agility_mod}+@{Level}" disabled />
						<button class="sheet-square" type="roll" value="@{character_name} sneaks silently and hides: [[@{ActionDie}+@{RangerSneakCheck}]]" name="roll_RangerSneak">
					</div>
				</div>
				<div>
					<div class="sheet-item sheet-med">
						<label>Strider</label>
					</div>
					<div class="sheet-item sheet-square">
						<input type="text" class="sheet-square"  name="attr_RangerStrider" value="-1"/>
					</div>
					<div class="sheet-item sheet-tiny">
						<input type="number" class="sheet-square" name="attr_RangerStriderCheck" value="@{RangerStrider}+@{Agility_mod}+@{Level}" disabled />
						<button class="sheet-square" type="roll" value="@{character_name} walks or even runs without leaving tracks or being hampered by difficult terrain: [[@{ActionDie}+@{RangerStriderCheck}]]" name="roll_RangerStrider">
					</div>
				</div>
				<div>
					<div class="sheet-item sheet-med">
						<label>Survival</label>
					</div>
					<div class="sheet-item sheet-square">
						<input type="text" class="sheet-square"  name="attr_RangerSurvival" value="-1"/>
					</div>
					<div class="sheet-item sheet-tiny">
						<input type="number" class="sheet-square" name="attr_RangerSurvivalCheck" value="@{RangerSurvival}+@{Personality_mod}+@{Level}" disabled />
						<button class="sheet-square" type="roll" value="@{character_name} uses wilderness skills: [[@{ActionDie}+@{RangerSurvivalCheck}]]" name="roll_RangerSurvival">
					</div>
				</div>
			</div>
			<div>
				<label>Luck check to avoid being surprised outdoors</label>
			</div>
		</div>
		<div class="sheet-med">
			The Ranger class is from Crawl! No.5: Classic Class Collection
		</div>
	</div>
	<!-- kith -->
	<div class="sheet-kith">
	<h1>Kith Abilities</h2>
	<div>
		<div class="sheet-statblock">
			<div class="sheet-item sheet-med">
				<label>Personality Burn Die:</label>
			</div>
			<div class="sheet-item sheet-tiny">
				<select name="attr_PersonalityBurnDie">
						<option value="d-1" selected="selected">--</option>
						<option value="d1">d2</option>
						<option value="d2">d3</option>
						<option value="d3">d4</option>
						<option value="d4">d5</option>
						<option value="d5">d6</option>
						<option value="d6">d7</option>
						<option value="d7">d8</option>
						<option value="d9">d10</option>
				</select>
			</div>
			<div class="sheet-item sheet-tiny">
				<button class="sheet-square" type="roll" value="@{character_name} burns Personality: [[@{PersonalityBurnDie}]]" name="roll_PersonalityBurnDie"/>
			</div>
			<div class="sheet-header">
				Outdoor Survival Skills
			</div>
			<div class="sheet-statblock">
				<div class="sheet-header">
					<div class="sheet-item sheet-med">
						<label>Ability</label>
					</div>
					<div class="sheet-item sheet-square">
						<label>Lvl+Int </label>
					</div>
				</div>
				<div>
					<div class="sheet-item sheet-med">
						<label>Tracking</label>
					</div>
					<div class="sheet-item sheet-tiny">
						<input type="number" class="sheet-square" name="attr_KithTrackingCheck" value="@{Level}+@{Intelligence_mod}" disabled />
						<button class="sheet-square" type="roll" value="@{character_name} tracks: [[@{ActionDie}+@{KithTrackingCheck}]]" name="roll_KithClimb">
					</div>
				</div>
				<div>
					<div class="sheet-item sheet-med">
						<label>Detect Traps/Hidden Foes</label>
					</div>
					<div class="sheet-item sheet-tiny">
						<input type="number" class="sheet-square" name="attr_KithDetectCheck" value="@{Level}+@{Intelligence_mod}" disabled />
						<button class="sheet-square" type="roll" value="@{character_name} checks for hidden traps or foes: [[@{ActionDie}+@{KithDetectCheck}]]" name="roll_KithDetect">
					</div>
				</div>
			</div>
		</div>
		<div class="sheet-tiny">
			The Kith class is introduced in Peril on the Purple Planet, Author's Edition
		</div>
	</div>
	</div>
</div>



