<%= content_for :title, @user.username || "" %>
<div class="grid grid-cols-12 gap-4 relative">
  <!-- Sidebar -->
  <aside class="col-span-2 hidden md:block bg-gray-100 h-screen sticky top-0">
    <%= render "shared/sidebar" %>
  </aside>

  <!-- Main Content -->
  <main class="col-span-8 md:col-span-8">
    <div class="sticky top-0 bg-gray-50 z-50 w-full">
      <%= render partial: "layouts/flash" %>
      <%= render partial: "new_form" %>
    </div>
  </main>
</div>

