.editable:empty:before {
  content: attr(data-placeholder);
  color: #999;
}

.grid-body {
  @apply grid;
  grid-template-columns: 14rem 1fr;
}

#nav-sidebar button.top {
  @apply flex w-full items-center justify-start space-x-2 px-4 py-1 hover:bg-indigo-200;
}

.tiptap {
  flex-direction: column;
  flex: 1;
}

.ProseMirror {
  @apply space-y-2 text-slate-800;
}

.ProseMirror p a {
  @apply text-gray-400 underline underline-offset-0;
}

.ProseMirror ul {
  @apply list-outside list-disc space-y-2 pl-6;
}

.ProseMirror ol {
  @apply list-outside list-decimal space-y-2 pl-6;
}

.ProseMirror h1 {
  @apply pt-4 pb-2 text-3xl font-bold;
}

.ProseMirror h2 {
  @apply pt-3 pb-1 text-2xl font-semibold;
}

.ProseMirror h3 {
  @apply pt-2 pb-1 text-xl font-semibold;
}

.ProseMirror blockquote {
  @apply border-l-4 border-slate-800 py-1 pl-4;
}

.ProseMirror:focus {
  outline: none;
}
